.firstline{
    background: red;
    color: white;
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;
}
.one{  background: rgb(22, 109, 209);
    color: rgb(13, 27, 109);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}

.two{  background: rgb(33, 165, 189);
    color: rgb(54, 30, 99);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}

.three{  background: rgb(79, 205, 228);
    color: rgb(160, 17, 112);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}

.four{  background: rgb(94, 79, 228);
    color: rgb(43, 7, 102);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}


.five{  background: rgb(134, 42, 130);
    color: rgb(78, 7, 75);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}

.six{  background: rgb(27, 96, 161);
    color: rgb(88, 152, 163);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}

.seven{  background: rgb(51, 86, 92);
    color: rgb(6, 54, 50);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}

.eight{  background: rgb(44, 18, 18);
    color: rgb(124, 15, 15);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}
.btn{
    background: red;
    color: yellow;
}
.btn:hover{
   color: rgb(248, 252, 248) ;
}

.nine{  background: rgb(56, 42, 42);
    color: rgb(161, 56, 56);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}

.ten{  background: rgb(125, 134, 83);
    color: rgb(54, 46, 8);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}

.eleven{  background: rgb(189, 185, 131);
    color: rgb(117, 124, 15);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}

.twelve{  background: rgb(185, 108, 108);
    color: rgb(124, 15, 15);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}


.thirteen{  background: rgb(170, 204, 126);
    color: rgb(94, 116, 14);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}
.fourteen{  background: rgb(128, 173, 135);
    color: rgb(15, 124, 42);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}

.fifteen{  background: rgb(107, 185, 162);
    color: rgb(10, 79, 82);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}
.sixteen{  background: rgb(104, 144, 167);
    color: rgb(15, 49, 124);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}
.seventeen{  background: rgb(105, 99, 160);
    color: rgb(22, 13, 99);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}

.eighteen{  background: rgb(146, 95, 170);
    color: rgb(60, 14, 104);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}
.nineteen{  background: rgb(170, 95, 166);
    color: rgb(65, 8, 48);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}

.twenty{  background: rgb(170, 95, 126);
    color: rgb(58, 5, 23);
    font-size: 30px;
    text-align: center;
    text-transform:capitalize;
    font-family:lato;

}




















